---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";

const _404_ = "404 404 404 404 404 404"
---

<Layout title="404 Not Found">
  <Header title={_404_} link="/" extra={{t1:_404_, t3:_404_, l1:"/", l3:"/"}} />
  <main class="w-full overflow-x-clip">
    <div
      class:list={[
        "min-h-[90dvh] flex flex-col items-center justify-center text-center",
        "w-full max-w-6xl mx-auto relative",
        "my-1 md:mt-0 px-8 lg:px-0",
        "gap-8 gap-y-4",
      ]}
    >
      <Image
        class="rounded-md object-contain"
        src="/imgs/thisIsFine.webp"
        alt="this is fine..."
        loading="eager"
        width={480}
        height={270}
      />
      <div class="flex flex-col justify-center gap-y-2 p-3 relative max-w-prose">
        <h2 class="text-7xl">404 NOT FOUND</h2>
        <p class="my-2 text-lg font-normal text-pretty">
          Vaya! Parece que la página que buscas no existe.
          Hay muchos proyectos interesantes en el sitio. ¡Explora y encuentra algo nuevo!
        </p>
        <a
          class:list={[
            "w-full inline-flex items-center justify-center px-3 py-2 text-sm border rounded-md",
            "bg-r-orange text-[#121212] border-transparent hover:bg-r-yellow hover:text-dark",
            "dark:text-amber-400 dark:bg-black/60 dark:border-orange-700",
            "hover:brightness-110 hover:scale-105 transition-all"
          ]}
          href="/">Volver al inicio</a
        >
        </div>
      </div>
    </div>
  </main>
</Layout>
