---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="101 proyectos de JavaScript - por @crashlanxd">
  <Header />
  <main
    class="pt-12 min-h-screen flex gap-y-20 flex-col justify-between px-8 relative"
    style="margin-top: 70px;"
  >
    <Hero />
    <Projects />
  </main>
  <Footer />
</Layout>
