---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";

import Hero from "@/sections/Hero.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Projects from "@/sections/Projects.astro";
import GoToTop from "@/components/GoToTop.astro";

import WorldIcon from "@/icons/WorldIcon.astro";
---

<Layout title="101 proyectos de JavaScript - por @crashlanxd" defaultTheme="dark">
  <Header title="About" link="/about" />
  <Hero />
  <Projects />
  <GoToTop />
  <Footer>
    <p class="text-sm flex justify-center items-center gap-1 mt-3">
      Una iniciativa de <a
        class="px-1 flex w-24 bg-white/90 rounded-full"
        href="https://midu.dev"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src="/imgs/midu.webp"
          alt={"logo de midudev"}
          width={92}
          height={28}
        />
      </a>
      <a
        aria-label="100 proyectos de JavaScript - página web original por @midudev"
        title="100 proyectos de JavaScript - página web original por @midudev"
        href="https://www.javascript100.dev/"
        target="_blank"
        class="hover:text-r-yellow transition-colors"
        rel="noopener noreferrer"
      >
        <WorldIcon class="size-6" />
      </a>
    </p>
  </Footer>
</Layout>
