---
import { Image } from "astro:assets";
import CLXD from "./icons/CLXD.astro";
import WorldIcon from "./icons/WorldIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<footer class="font-Krypton mt-40 bg-[--background-50] rounded-t-lg">
  <div
    class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col text-[--text-500]"
  >
    <a
      title="made by CrashLanXD <3"
      href="https://crashlanxd.vercel.app"
      target="_blank"
      rel="noopener noreferrer"
      class="flex font-medium text-sm items-center md:justify-start justify-center group"
    >
      <CLXD
        class="size-12 p-1 text-white fill-neutral-500 bg-[#121212] rounded-full"
      />
      <span
        class="ml-3 text-lg group-hover:text-[--accent-800] transition-colors"
        >CLXD</span
      >
    </a>
    <p
      class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-[--text-800] sm:py-2 sm:mt-0 mt-4 flex items-center gap-1"
    >
      Una iniciativa de <a
        class="px-1 flex w-24 bg-white/90 rounded-full"
        href="https://midu.dev"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src="/imgs/midu.webp"
          alt={"logo de midudev"}
          width={92}
          height={28}
        />
      </a>
      <a
        aria-label="100 proyectos de JavaScript - página web original por @midudev"
        title="100 proyectos de JavaScript - página web original por @midudev"
        href="https://www.javascript100.dev/"
        target="_blank"
        class="hover:text-[--accent-800] transition-colors"
        rel="noopener noreferrer"
      >
        <WorldIcon class="size-6" />
      </a>
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a
        aria-label="visita mi X @crashlanxd"
        title="@crashlanxd"
        href="https://x.com/crashlanxd"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-[--accent-800] transition-colors"
      >
        <XIcon class="size-6" />
      </a>
    </span>
  </div>
</footer>
