<footer class="flex place-content-center w-full">
  <div class="w-full mt-8 p-10">
    <div class="flex gap-4 place-content-center text-sm">
      <span class="font-Krypton text-zinc-400">
        <a
          class="group relative isolate flex transition hover:scale-105 text-zinc-400 hover:text-zinc-100"
          href="https://github.com/midudev"
          >Base del diseño e iniciativa por Midudev {"<3"}</a
        ></span
      >
    </div>
    <div class="flex gap-2 place-content-center">
      <a
        title="javascript 100 de midudev"
        aria-label="pagina de midu"
        class="group relative isolate flex transition hover:scale-105 text-zinc-400 hover:text-zinc-100"
        href="https://www.javascript100.dev/"
        target="_blank"
        type="noopener"
      >
        100 proyectos javascript de Midu
      </a>
    </div>
    <div class="flex gap-2 place-content-center pt-2">
      <a
        class="group relative isolate flex transition hover:scale-105 text-zinc-400 hover:text-zinc-300 font-Argon"
        href="#home"
      >
        {"← Volver"}
      </a>
    </div>
  </div>
</footer>
