<footer class="flex place-content-center w-full">
  <div class="w-full mt-8 p-10">
    <div class="flex gap-4 place-content-center">
      <span class="font-Krypton text-zinc-400">by CrashLanXD <3</span>
    </div>
    <div class="flex gap-2 place-content-center">
      <a
        title="follow me on X"
        aria-label="follow me on X"
        class="group relative isolate flex transition hover:scale-105 text-zinc-400 hover:text-zinc-100"
        href="https://x.com/crashlanxd"
        target="_blank"
        type="noopener"
      >
        <svg
          class="flex-none size-6"
          xmlns="http://www.w3.org/2000/svg"
          width="1200"
          height="1227"
          fill="none"
          viewBox="0 0 1200 1227"
          ><path
            fill="currentColor"
            d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
          ></path></svg
        >
      </a>
    </div>
    <div class="flex gap-2 place-content-center pt-2">
      <a
        class="group relative isolate flex transition hover:scale-105 text-zinc-400 hover:text-zinc-300"
        href="#home"
      >
        {"<- Volver"}
      </a>
    </div>
  </div>
</footer>
