---
import GitHubStar from "./GitHubStar.astro";
---

<header
  class="fixed top-0 z-10 flex justify-start items-center w-full bg-neutral-300 dark:bg-neutral-950 py-4 px-4"
>
  <div
    class="flex justify-between items-center [&>p]:bg-gradient-to-r [&>p]:from-[#353535] [&>p]:to-[#000000] dark:[&>p]:from-[#e3e3e3] dark:[&>p]:to-[#ffffff] [&>p]:text-transparent [&>p]:bg-clip-text [&>p]:inline-block"
  >
    <p
      class="sm:text-lg lg:text-3xl font-Argon mr-2 text-orange-500 dark:bg-gradient-to-r dark:to-[#edab1c] dark:from-[#edca1c]"
    >
      {"{"}
    </p>
    <p class="sm:text-lg lg:text-2xl font-Krypton mr-2">101</p>
    <p class="sm:text-lg lg:text-2xl font-Radon mr-2">Proyectos</p>
    <p class="sm:text-lg lg:text-2xl font-Neon">JavaScript</p>
    <p
      class="sm:text-lg lg:text-3xl font-Argon ml-2 text-orange-500 [&>p]:dark:to-[#edab1c] [&>p]:dark:from-[#edca1c]"
    >
      {"}"}
    </p>
  </div>
  <GitHubStar class="mr-16" />
  <p class="text-3xl text-neutral-900 dark:text-orange-200 hidden md:block">
    :D
  </p>
</header>
