---
const { info } = Astro.props;
const { theme = {} } = info;
const { isDark = false } = theme;
---

<div class="hidden sm:block absolute left-4 bottom-4 px-8 py-1 rounded-lg">
  <h1 class="text-4xl text-yellow-400 font-Argon">site under construction !</h1>
</div>
