---
const { info } = Astro.props;
const { theme = {} } = info;
const { isDark = false } = theme;
---

<div class="hidden sm:block absolute left-2 bottom-2 px-4 py-1 rounded-lg">
  <div class="flex justify-between items-center">
    <p class="text-xl font-Argon mr-2 text-orange-500 text-shadow-white">
      {"{"}
    </p>

    <p class="text-md font-Krypton mr-2 text-orange-50 text-shadow-white">
      101
    </p>
    <p class="text-md font-Radon mr-2 text-orange-50 text-shadow-white">
      Proyectos
    </p>
    <p class="text-md font-Neon text-orange-50 text-shadow-white">JS</p>

    <p class="text-xl font-Argon ml-2 text-orange-500 text-shadow-white">
      {"}"}
    </p>
  </div>

  <h2 class = "text-orange-400 font-Krypton text-base text-center tracking-tighter">
    {`#${info.number}-> ${info.title}`}
  </h2>

  <a
    class:list={[
      "text-xs hover:underline font-Argon text-center",
      isDark ? "text-white/90" : "text-black/90",
    ]}
    href="/">← Volver a los proyectos</a
  >
</div>

<style>
  .text-shadow-white {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
</style>
