---
const { info } = Astro.props;
// const { theme = {} } = info;
// const { isDark = false } = theme;
---

<div
  class="hidden sm:flex sm:flex-col absolute left-2 bottom-2 px-4 py-1 font-Krypton"
>
  <p class="text-orange-50 effect mx-auto text-base capitalize">
    <span>{"{"}</span> 101 {info.title.length >= 16 ? "proyectos JS" : ""}
    <span>{"}"}</span>
  </p>

  <h2 class="text-orange-400 text-base tracking-tighter mx-auto">
    {`#${info.number}> ${info.title}`}
  </h2>

  <a
    class="text-xs hover:underline text-center text-white/90 mx-auto hover:text-[#ffdd99] transition-colors"
    href="/">← Volver</a
  >
</div>

<style>
  .effect {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
    span {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke-color: var(--accent-700);
      -webkit-text-stroke-width: 1px;
    }
  }
</style>
