<footer>
  <div class="mx-auto max-w-screen-xl">
    <p class="w-full text-sm text-center">
      made by ⊂└メᕤ {"<3"}
    </p>
    <slot />
  </div>
  <div class="loading-bar">
    <div class="bar" style="background-color: #482726"></div>
    <div class="bar" style="background-color: #472D23"></div>
    <div class="bar" style="background-color: #542E29"></div>
    <div class="bar" style="background-color: #67322D"></div>
    <div class="bar" style="background-color: #89412B"></div>
    <div class="bar" style="background-color: #A55A31"></div>
    <div class="bar" style="background-color: #B75A31"></div>
    <div class="bar" style="background-color: #C65135"></div>
    <div class="bar" style="background-color: #D27346"></div>
    <div class="bar" style="background-color: #D8995C"></div>
    <div class="bar" style="background-color: #648353"></div>
    <div class="bar" style="background-color: #879519"></div>
    <div class="bar" style="background-color: #506829"></div>
    <div class="bar" style="background-color: #1F322F"></div>
    <div class="bar" style="background-color: #2D67A9"></div>
    <div class="bar" style="background-color: #567ABD"></div>
    <div class="bar" style="background-color: #233492"></div>
    <div class="bar" style="background-color: #27175A"></div>
    <div class="bar" style="background-color: #9F4CAA"></div>
    <div class="bar" style="background-color: #863871"></div>
    <div class="bar" style="background-color: #BB4E92"></div>
    <div class="bar" style="background-color: #E04A7B"></div>
    <div class="bar" style="background-color: #B42A55"></div>
    <div class="bar" style="background-color: #C05E4A"></div>
    <div class="bar" style="background-color: #D52F16"></div>
  </div>
</footer>

<style>
  footer {
    background-color: light-dark(var(--r-black), var(--r-white));
    color: light-dark(var(--r-white), var(--r-black));
    padding: 24px 0;
    position: relative;
    transition: background 150ms;
  }

  .loading-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .loading-bar .bar {
    width: 4%;
    height: 6px;
  }
</style>
