<section class="h-96 mx-auto flex items-center my-20 relative">
  <div
    class="-z-10 absolute w-[98%] opacity-50 mx-auto inset-0 bg-black bg-[radial-gradient(var(--r-orange)_3px,light-dark(var(--r-white),var(--r-black))_1px)] bg-[size:32px_32px]"
  >
  </div>
  <div
    class="hero-title font-krypton mx-auto text-5xl sm:text-6xl 2xl:text-7xl md:ml-16 2xl:mx-auto flex"
  >
    <p
      class="text-r-red dark:text-r-yellow 2xl:[&>br]:hidden md:ml-20 2xl:mx-auto lowercase"
    >
      <span>(</span><br />101<span>,</span><br />Proyectos<span>,</span><br
      />en<span>,</span><br />JavaScript<br /><span>)</span>
    </p>
  </div>
</section>

<style>
  .hero-title {
    text-shadow: 0 0 16px
      light-dark(rgba(255, 132, 132, 0.6), rgba(251, 169, 26, 0.5));

    p > :first-child,
    p > :last-child {
      margin-left: -40px;
    }
    @media (width >= 1536px) {
      p > :first-child,
      p > :last-child {
        margin: 0;
      }
    }
    span {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke-color: var(--r-red);
      -webkit-text-stroke-width: 2px;
      &:is([data-theme='dark'] *) {
        -webkit-text-stroke-color: var(--r-yellow);
      }
    }
  }
</style>
